.sign-template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sign-template form{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto !important;
  padding: 20px 20px 30px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
}

.sign-template form label{
  color: white;
}

.sign-template form input {
  color: black;
  padding: 10px
}

main {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .sign-template form{
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .sign-template form{
    width: 45%;
    padding: 20px 20px;
  }
  
}

@media screen and (min-width: 1500px) {
  .sign-template form{
    width: 30%;
  }
}