.sidebar-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  box-sizing: border-box;
}


@media  screen and (min-width: 1024px) {
    .sidebar-content {
        height: 86vh;
    }
}